.section {
  padding: 32px;
  background-color: #121212;
}

.topRow {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 24px;
}

.title {
  color: white;
  font-size: 28px;
  font-weight: 700;
}

.showAll {
  color: #34c94b;
  font-weight: 600;
  cursor: pointer;
}