.navbar {
  height: 74px;
  width: 100%;

  background-color: var(--color-primary);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 32px;

  position: sticky;
  top: 0;
  z-index: 1000;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 16px;
  }
}